{% extends 'base.html' %}
{% block title %}- Calendar{% endblock %}
{% block content %}
{% if enrollments %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-8">
      <form id="calendars" action="/calendar" method="POST">
        <div class="form-group">
          <label for="Course">Course</label>
          <select class="form-control" id="Course" name="Course">
            {% for enrollment in enrollments %}
            <option value="{{ enrollment.id }}">{{ enrollment.name }} - {{ enrollment.startDate }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group row">
          <div class="col-sm-4"><h4>Calendar Types</h4></div>

          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" name="academicCheck" id="academicCheck">
              <label class="form-check-label" for="academicCheck">
                Academic Calendar
              </label>
              <br>
              <input class="form-check-input" type="checkbox" value="1" name="officeHoursCheck" id="officeHoursCheck">
              <label class="form-check-label" for="officeHoursCheck">
                Include Office Hours
              </label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="form-check">
                <div>
                  <input class="form-check-input" type="radio" value="1" name="academicIsTrans" id="academicIsTransTrue">
                  <label class="form-check-label" for="academicIsTransTrue">
                    Show Time as Free
                  </label>
                </div>
                <div>
                  <input class="form-check-input" type="radio" value="0" name="academicIsTrans" id="academicIsTransFalse" checked>
                  <label class="form-check-label" for="academicIsTransFalse">
                    Show Time as Busy
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" name="careerCheck" id="careerCheck">
                <label class="form-check-label" for="careerCheck">
                  Career Calendar
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-check">
                  <div>
                    <input class="form-check-input" type="radio" value="1" name="careerIsTrans" id="careerIsTransTrue">
                    <label class="form-check-label" for="careerIsTransTrue">
                      Show Time as Free
                    </label>
                  </div>
                  <div>
                    <input class="form-check-input" type="radio" value="0" name="careerIsTrans" id="careerIsTransFalse" checked>
                    <label class="form-check-label" for="careerIsTransFalse">
                      Show Time as Busy
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" name="assignmentsCheck" id="assignmentsCheck">
                <label class="form-check-label" for="assignmentsCheck">
                  Assignments Calendar
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-check">
                  <div>
                    <input class="form-check-input" type="radio" value="1" name="assignmentsIsTrans" id="assignmentsIsTransTrue" checked>
                    <label class="form-check-label" for="careerIsTransTrue">
                      Show Time as Free
                    </label>
                  </div>
                  <div>
                    <input class="form-check-input" type="radio" value="0" name="assignmentsIsTrans" id="assignmentsIsTransFalse">
                    <label class="form-check-label" for="assignmentsIsTransFalse">
                      Show Time as Busy
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row"></div>
            <div class="col-sm-4 ml-auto mr-auto">
              <button type="submit" class="btn btn-primary">Generate Calendars</button>
            </div>
      </form>
    </div>
  </div>
</div>

{% else %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-12">
      <h4>
        Click buttons below to download your calendar files
      </h4>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-12">
  {% for file in fileList %}
      <div>
        <form method="GET" action="files/{{ file }}">
            <button type="submit" class="btn btn-primary">&#8595; {{ file }}</button>
        </form>
      </div>
  {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
