{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">BootcampSpot ICS Generator</h1>
  <p class="lead">
  This utility will generate ICS calendar files for your selected course in BootcampSpot.
  Just login with your BCS credentials and select the calendars you wish to generate.
  You can optionally add office hours to the academic calendar.
  </p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Get Started</a>
</div>
{% endblock %}